build/
out/
_deps/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CMakeUserPresets.json
compile_commands.json


.vs/
bin/
obj/
Debug/
Release/
x64/
x86/
*.user
*.suo
*.sln.docstates
*.tlog
*.lastbuildstate
*.idb
*.iobj
*.ipdb
ipch/


*.exe
*.pdb
*.ilk
*.exp
*.o
*.obj


*.dll
*.lib
*.a
*.so
*.dylib
!third_party/**/*.dll
!third_party/**/*.lib
!third_party/**/*.a
!third_party/**/*.so
!third_party/**/*.dylib


shaders/spir-v/




.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


.idea/
cmake-build-*/


*.swp
*.swo
*~


\#*\#
.\#*


.DS_Store
Thumbs.db
Desktop.ini
ehthumbs.db


renders/
output/
docs/

*.log
core
core.*
vgcore.*

_review/